	body{
		display: block;
		margin:auto;
		max-width: 900px;
		background-color: rgba(39, 159, 109, .2);
		font-family: 'Open Sans', sans-serif;
		color: #000000;
	}
	.subtleLink {
		color: #8A8A8D;
	}
	img {
	  max-width: 100%;
	  display: block;
	  height: auto;
	  padding: 10px;
	}
